@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&amp;display=swap');

html {
  overflow-y: scroll;
}

.Toastify__toast--info {
  background: #2196f3 !important;
}
.Toastify__toast--success {
  background: #4caf50 !important;
}
.Toastify__toast--warning {
  background: #ff9800 !important;
}
.Toastify__toast--error {
  background: #f44336 !important;
}
